<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="db" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Dan2\documents\visual studio 2013\Projects\UnitTestingExample.UI\UnitTestingExample.DAL\App_Data\TestDatabase.mdf&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>